#main-header {
    position: fixed;
    top: 0;
    width: 100%;
}

.cta {
    margin-top: 2.4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
}

.padding-section {
    padding: 5rem 0;
}

.block {
    overflow: hidden;

    & .content {
        align-items: start;

        & ul {
            padding-left: 0;
            list-style: none;
        }
    }
}

@media (width < 600px) {
    .cta {
        & .go-to-properties {
            transform: translateX(-18px);
        }
    }
}