#hero {
    position: relative;
    height: 100dvh;
    display: grid;
    place-content: center;

    & #video-on-hero {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    & .content {
        padding: 50px 0;

        & div {
            & .hero-title {
                font-size: calc(var(--wp--preset--font-size--xx-large) + 2dvw);
                line-height: 1.2;
                margin-bottom: .5rem;
            }

            & .subtitle-wrapper {
                overflow: hidden;

                & .hero-subtitle {
                    transform: translateY(-120%);
                    transition: transform .6s ease;
                    animation: subtitle-in .6s ease-in-out 1.1s forwards;
                }
            }

            & form {
                position: relative;
                margin-top: 1.2rem;
                display: flex;
                align-items: center;
                box-shadow: var(--modern-shadow);
                max-width: 550px;
                backdrop-filter: blur(7px);
                border-radius: .4rem;
                opacity: 0;
                
                &.animate-in {
                    animation: in-from-right .6s ease-in-out forwards;
                }

                & input[type=text] {
                    height: 48px;
                    padding-right: 10rem;
                    border-radius: 1rem;
                    border: none;
                    background-color: light-dark(var(--wp--preset--color--base-alpha-50), var(--wp--preset--color--contrast-alpha-50));
                    backdrop-filter: blur(7px);

                    &::placeholder {
                        color: light-dark(#404040, #999);
                    }
                }

                & button {
                    position: absolute;
                    height: 38px;
                    top: 5px;
                    right: 5px;
                    display: flex;
                    align-items: center;
                    border: none;
                    padding: 0 1rem;
                    border-radius: .4rem;
                    font-weight: 500;
                    font-family: var(--wp--preset--font-family--manrope);
                    letter-spacing: 2px;
                    background-color: var(--wp--preset--color--base-alpha-50);
                    transition: background-color .3s ease, color .3s ease;

                    &:hover {
                        background-color: var(--wp--preset--color--main-alpha-50);
                        color: var(--wp--preset--color--base);
                    }
                }
            }

            & .cta {
                opacity: 0;
                &.animate-in {
                    animation: in-from-right .6s ease-in-out forwards;
                }

                & .go-to-properties {
                    color: var(--wp--preset--color--base);
                    text-shadow: var(--modern-text-shadow);
                }
            }
        }
    }
}

@media (width >=621px) {
    #hero.block {
        height: calc(100dvh - 35.5px);
    }
}

@media (width >=1024px) {
    #hero {
        & .content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 50px;
        }
    }
}


body.is-chromium {
    #hero {
        & form {
            & input[type=text] {
                border-radius: 1rem !important;
                corner-shape: squircle;
            }

            & button {
                border-radius: .6rem !important;
                corner-shape: squircle;
            }
        }
    }
}