#why-choose-us {
    & .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;

        &> :first-child {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(4, auto);
            gap: 20px;
            transform: translateY(.8rem);

            & .image {
                background-color: light-dark(var(--wp--preset--color--secondary), var(--secondary-dark));
                aspect-ratio: 1 / 1;
                border-radius: 1rem;
                object-fit: cover;
                width: 100%;
                opacity: 0;

                &.animate-in {
                    animation: in-from-left .6s ease-in-out forwards;
                }

                &.image-01 {
                    grid-column: 2 / 3;
                    grid-row: 1 / 2;
                }

                &.image-02 {
                    grid-column: 3 / 5;
                    grid-row: 1 / 3;
                }

                &.image-03 {
                    grid-column: 1 / 3;
                    grid-row: 2 / 5;
                }

                &.image-04 {
                    grid-column: 3 / 4;
                    grid-row: 3 / 4;
                }
            }
        }

        &> :nth-child(2) {
            h2.title-section {
                font-size: calc(var(--wp--preset--font-size--xx-large) + 1dvw);
                line-height: 1.2;
                font-weight: 600;
                opacity: 0;

                &.animate-in {
                    animation: in-from-right .6s ease-in-out forwards;
                }
            }

            h3.subtitle-section {
                font-size: calc(var(--wp--preset--font-size--large) + 5px);
                font-weight: 600;
                opacity: 0;

                &.animate-in {
                    animation: in-from-right .6s ease-in-out forwards;
                }
            }

            & .paragraph {
                margin: 1.2rem 0;
                opacity: 0;

                &.animate-in {
                    animation: in-from-right .6s ease-in-out forwards;
                }
            }

            & ul {
                & li {
                    opacity: 0;
                    &.animate-in {
                        animation: in-from-right .6s ease-in-out forwards;
                    }

                    & svg {
                        margin-right: .5rem;
                    }
                }
            }

            & .cta {
                opacity: 0;
                &.animate-in {
                    animation: in-from-right .6s ease-in-out forwards;
                    backdrop-filter: none !important;
                }
            }
        }
    }
}

@media (width < 1024px) {
    .site-main {
        & #why-choose-us {
            & .content {
                grid-template-columns: 1fr;

                &> :first-child {
                    max-width: 400px;
                    margin-inline: auto;
                }
            }
        }
    }
}

body.is-chromium {
    & #why-choose-us {
        & .content {
            &> :first-child {
                & img {
                    border-radius: 3rem;
                    corner-shape: squircle;
                }
            }
        }
    }
}