header.block {
    & .content {
        width: 100dvw;
        max-width: 1366px;
        position: relative;
        overflow: hidden;
        border-radius: 1rem;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 0;
            height: 0;
            border-radius: 50%;
            z-index: -1;
            background: linear-gradient(
                to bottom,
                light-dark(var(--background-sky-2), var(--background-sky-2--night)) 0%,
                light-dark(var(--background-sky-2), var(--background-sky-2--night)) 40%,
                light-dark(var(--background-sky-1), var(--background-sky-1--night)) 100%
            );
            background-size: 100% 200%;
            background-position: top;
            transition: background-position 0.5s ease;
            animation: sky-content 2.5s ease forwards;
        }

        & .clouds--wrapper {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            
            & .clouds {
                width: 100%;
                height: 100%;
                z-index: 0;
                opacity: 0;
                overflow: hidden;
                animation: opacity-clouds .6s ease 1.5s forwards;
            }
        }

        & .stars {
            background: transparent url("https://relatosycartas.com/wp-content/themes/stories-V2/assets/img/stars.webp") repeat;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            animation: opacity-stars .6s ease 1.5s forwards;
        }

        & .tree--wrapper {
            position: absolute;
            width: 300px;
            bottom: -50px;
            right: 40px;
            transform: translate(130%, 0px);
            animation: tree-entrance 1.5s ease-in-out 1.5s forwards;

            & .tree {
                width: 100%;
            }

            & .tree-leaves {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                animation: leaves-wind 5s ease-in-out infinite;
            }

            & .tree-leaves-2 {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                animation: leaves-wind 5s ease-in-out .3s infinite;
            }
        }
    }
}

.c1, .c2 {
    width: 400px;
    height: 350px;
    position: absolute;
    background: transparent url("https://relatosycartas.com/wp-content/themes/stories-V2/assets/img/clouds.webp") 0 0 no-repeat;
    background-size: 100%;
    z-index:999;
    animation: moving-clouds 60s linear infinite;
}

.c1.one, .c2.one {
    top: -260px;
    left: 0px;
}
.c1.two, .c2.two {
    top: -200px;
    left: 100px;
}
.c1.three, .c2.three {
    top: -240px;
    right: 100px;
}
.c1.four, .c22.four {
    top: -180px;
    right: 0px;
}

.c2 .one {
    top: -209px;
}

@media (width < 600px) {
    header.block {
        & .content {
            border-radius: 0;
            min-height: 550px;

            & .clouds--wrapper {
                width: 300%;
            }
        }
    }

    @keyframes sky-content {
        0% {
            width: 0;
            height: 0;
            border-radius: 50%;
            background-position: top; /* solo el primer color */
        }

        50% {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background-position: top;
        }

        70% {
            width: 100%;
            height: 100%;
            border-radius: 10rem;
            background-position: top; /* empieza a mezclarse */
        }

        100% {
            width: 100%;
            height: 100%;
            border-radius: 0;
            background-position: bottom; /* el gradiente se asienta: atm贸sfera completa */
        }
    }

    @keyframes webkit-sky-content {
        0% {
            width: 0;
            height: 0;
            border-radius: 50%;
            corner-shape: round;
            background-position: top; /* solo el primer color */
        }

        50% {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            corner-shape: round;
            background-position: top;
        }

        70% {
            width: 100%;
            height: 100%;
            border-radius: 10rem;
            corner-shape: squircle;
            background-position: top; /* empieza a mezclarse */
        }

        100% {
            width: 100%;
            height: 100%;
            border-radius: 0;
            corner-shape: square;
            background-position: bottom; /* el gradiente se asienta: atm贸sfera completa */
        }
    }
}

@media (width >= 600px) {
    header.block {
        & .content {
            min-height: 450px;
            width: var(--max-width--content);
        }
    }

    @keyframes sky-content {
        0% {
            width: 0;
            height: 0;
            border-radius: 50%;
            background-position: top; /* solo el primer color */
        }

        50% {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background-position: top;
        }

        70% {
            width: 100%;
            height: 100%;
            border-radius: 10rem;
            background-position: top; /* empieza a mezclarse */
        }

        100% {
            width: 100%;
            height: 100%;
            border-radius: 1rem;
            background-position: bottom; /* el gradiente se asienta: atm贸sfera completa */
        }
    }

    @keyframes webkit-sky-content {
        0% {
            width: 0;
            height: 0;
            border-radius: 50%;
            corner-shape: round;
            background-position: top; /* solo el primer color */
        }

        50% {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            corner-shape: round;
            background-position: top;
        }

        70% {
            width: 100%;
            height: 100%;
            border-radius: 10rem;
            corner-shape: squircle;
            background-position: top; /* empieza a mezclarse */
        }

        100% {
            width: 100%;
            height: 100%;
            border-radius: 2rem;
            corner-shape: squircle;
            background-position: bottom; /* el gradiente se asienta: atm贸sfera completa */
        }
    }
}

@media (prefers-color-scheme: dark) {
    header.block {
        & .content {
            & .tree--wrapper {
                & .tree {
                    filter: brightness(.4);
                }

                & .tree-leaves {
                    animation: leaves-wind--night 5s ease-in-out infinite;
                }

                & .tree-leaves-2 {
                    animation: leaves-wind--night 5s ease-in-out .3s infinite;
                }
            }
        }
    }
}

@keyframes opacity-clouds {
    0% {
        opacity: 0;
    }
    100% {
        opacity: var(--opacity-clouds);
    }
}

@keyframes opacity-stars {
    0% {
        opacity: 0;
    }
    100% {
        opacity: var(--opacity-stars);
    }
}

@keyframes move-background {
  from {
		transform: translate3d(0px, 0px, 0px);
	}
	to { 
		transform: translate3d(1000px, 0px, 0px);
	}
}

@keyframes leaves-wind {
  0%, 100% {
    transform: translateX(0) translateY(0) scaleY(1);
    filter: brightness(1.3);
  }
  25% {
    transform: translateX(2px) translateY(1px) scaleY(.999);
    filter: brightness(1.9);
  }
  50% {
    transform:  translateX(-2px) translateY(-2px) scaleY(1.001);
    filter: brightness(1.6);
  }
  75% {
    transform: translateX(3px) translateY(0) scaleY(.999);
    filter: brightness(1.5);
  }
}

@keyframes leaves-wind--night {
  0%, 100% {
    transform: translateX(0) translateY(0) scaleY(1);
    filter: brightness(.4);
  }
  25% {
    transform: translateX(2px) translateY(1px) scaleY(.999);
    filter: brightness(.4);
  }
  50% {
    transform:  translateX(-2px) translateY(-2px) scaleY(1.001);
    filter: brightness(.4);
  }
  75% {
    transform: translateX(3px) translateY(0) scaleY(.999);
    filter: brightness(.4);
  }
}

@keyframes tree-entrance {
    0% { 
        transform: translate(130%, 0px);
    }
    100% {
        transform: translate(0, 0px);
    }
}

body.is-chromium {
    & header.block {
        & .content {
            border-radius: 2rem;
            corner-shape: squircle;

            &::before {
                corner-shape: inherit;
                animation: webkit-sky-content 2.5s ease forwards;
            }
        }
    }
}