.site-main {
    & .block.not-found__wrapper {
        display: grid;
        place-content: center;
        height: 100%;

        & .content {
            text-align: center;
            width: 100%;
            
            & > *:not(:last-child) {
                margin-bottom: 1.5rem;
            }

            & .not-found__icon {
                width: 64px;
                aspect-ratio: 1 / 1;
                display: grid;
                place-content: center;
                border-radius: 50%;
                background-color: light-dark(var(--wp--preset--color--secondary), var(--contrast--darker));
                margin-inline: auto;
            }
        }
    }
}