.block {
    & .content {
        & .container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            
            & .slideshow--wrapper {
                width: 100%;
                height: 100%;
                overflow: hidden;
                color: #fff;

                & .slideshow {
                    height: 100%;
                    display: flex;

                    & .quote-item {
                        padding: 20px;
                        border: none;
                        opacity: 0;
                        transition: opacity .3s ease-in-out .3s;

                        &.active {
                            opacity: 1;

                            & .quote-content {
                                & h3 {
                                    transform: translateX(0);
                                }
                            }
                        }

                        & .quote-content {
                            & > *:not(:last-child) {
                                margin-bottom: 1.5rem;
                            }

                            & h2,
                            & h3 {
                                text-shadow: var(--modern-text-shadow);
                            }

                            & h3 {
                                transform: translateX(100%);
                                transition: transform .6s ease-in-out 2.5s;
                            }
                        }
                    }
                }
            }

            & .slideshow-bullets-wrapper {
                padding: .6rem;
                display: flex;
                align-items: center;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                transform: translateX(100%);
                animation: bullets-in .6s ease-in-out 2.5s forwards;

                & .slideshow-bullets {
                    padding-left: 0;
                    background-color:transparent;
                    display: flex; 
                    gap: 20px; 
                    margin-inline: auto; 
                    list-style: none; 
                    border-radius: 9px;

                    & .slideshow-bullet {
                        width: 13px; 
                        height: 13px; 
                        border-radius: 50%; 
                        background-color: transparent;
                        border: 2px solid var(--wp--preset--color--white);
                        cursor:pointer;

                        &.active {
                            background-color: var(--wp--preset--color--white);
                        }
                    }
                }

                & .btn-pagination {
                    &.small-pagination {
                        border-radius: .7rem;
                        
                        &:hover {
                            background-color: light-dark(var(--wp--preset--color--contrast-alpha-50), var(--wp--preset--color--base-alpha-50));
                        }

                        & svg {
                            fill: var(--wp--preset--color--base);
                        }
                    }
                }
            }
        }
    }
}

@media (width >= 768px) {
    .block {
        & .content {
            & .container {
                & .slideshow--wrapper {
                    width: 60%;
                }
            }
        }
    }
}

@keyframes bullets-in {
    0% { 
        transform: translateY(100%);
    }
    100% {
        transform: translateX(0);
    }
}

body.is-chromium {
    .block {
        & .content {
            & .container {
                & .slideshow-bullets-wrapper {
                    & .btn-pagination {
                        border-radius: 2rem;
                    }
                }
            }
        }
    }
}