header.block {
    position: relative;
    overflow: hidden;
    text-align: center;

    & .content {   
        padding: 3rem 0;
         
        & .page-title {
            font-size: var(--wp--preset--font-size--xx-large);
            text-align: center;
            position: relative;
            max-width: 40.313rem;
            margin-inline: auto;
        }

        & .latest-modified,
        & .metadata {
            text-align: center;

            & .date {
                & svg {
                    margin-right: .5rem;
                }
            }
        }
    }
}

.block:has(.is-layout-constrained) {
    padding: 2.5rem 0;
    display: grid;
    gap: 2.5rem;
}