header.block {
    & .content {
        color: var(--wp--preset--color--base);
        text-shadow: var(--modern-text-shadow);

        & .background-hero {
            width: 100%;
            height: 120%;
            object-fit: cover;
            position: absolute;
            top: -10%;
            left: 0;
            z-index: -2;
            filter: brightness(.7);
        }

        & .background-image {
            width: 100%;
            max-width: 1024px;
            margin-inline: auto;
            border-radius: 1rem;
        }

        & .page-title {
            margin-top: 15rem;
            margin-bottom: 13.5rem;
        }
    }
}

body.is-chromium {
    & .background-image {
        border-radius: 2rem !important;
        corner-shape: squircle;
    }
}