/* Post Gallery - Basado en loop-gallery con thumbnails */
figure.wp-block-gallery {
    opacity: 0;
}

.post-gallery-wrapper {
    width: 100%;
    margin: 2rem auto;
    position: relative;
    overflow: hidden;
    background-color: light-dark(var(--wp--preset--color--secondary), var(--contrast--darker));
    border-radius: 1rem;
    max-height: 491.6px;
    opacity: 0;
    transform: translateY(60px);
    animation: post-gallery-entrance .3s ease .2s forwards;
}

/* Galería Principal */
.post-gallery {
    display: flex;
    /* width y transform via JS */
}

.post-gallery-slide {
    flex-shrink: 0;
    /* width via JS */
    display: flex;
    align-items: center;
    justify-content: center;
    /* transition, transform, opacity via JS */
}

.post-gallery-slide img {
    width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    display: block;
    border-radius: 1rem;
}

.post-gallery-thumbs-container {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: .4rem .5rem;
    justify-content: space-between;
    overflow: hidden;

    & .post-gallery-thumbs {
        /* display: flex; */
        list-style: none;
        margin: 0;
        padding: .5rem 0;
        width: 65%;

        & .post-gallery-thumb {
            padding: .2rem;
            border: 1px solid transparent;
            border-radius: .5rem;
            transition: border-color .3s ease, box-shadow .3s ease;

            &.active {
                & img {
                    border-color: light-dark(var(--wp--preset--color--main), var(--wp--preset--color--main));
                    box-shadow: 0 0 0 1px var(--wp--preset--color--main),
                        0 0 0 .2rem var(--wp--preset--color--main-alpha-50);
                }
            }

            & img {
                border-radius: inherit;
                width: 100%;
                aspect-ratio: 3 / 1;
                object-fit: cover;
                opacity: .5;
                transition: opacity .3s ease;
            }

            &.active {
                & img {
                    opacity: 1;
                }
            }

            &:not(.active):hover {
                & img {
                    border-color: light-dark(var(--wp--preset--color--main), var(--wp--preset--color--main));
                    box-shadow: 0 0 0 1px var(--wp--preset--color--main),
                        0 0 0 .2rem var(--wp--preset--color--main-alpha-50);
                    opacity: .75;
                }
            }
        }
    }
}

/* Thumbnails - Carousel de 3 */

body.is-chromium {

    & .post-gallery-wrapper,
    & .post-gallery-slide img {
        border-radius: 2rem;
        corner-shape: squircle;
    }

    & .post-gallery-thumbs-container {
        & .post-gallery-thumbs {
            & .post-gallery-thumb {
                border-radius: 1rem;
                corner-shape: squircle;

                & img {
                    corner-shape: inherit;
                }
            }
        }
    }
}

@keyframes post-gallery-entrance {
    from {
        opacity: 0;
        transform: translateY(60px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}