.block {
    & .content {
        width: var(--max-width--content);
        margin-inline: auto;
    }
}

.post {
    display: grid;
    grid-template-rows: auto 1fr;
    padding: .625rem;
    border: 1px solid light-dark(var(--wp--preset--color--accent-7), var(--wp--preset--color--accent-6));
    border-radius: 1rem;
    font-size: var(--wp--preset--font-size--small);
    transition: border-color .3s ease;

    &.image {
        grid-template-rows: 1fr auto;

        & .post--header {
            aspect-ratio: 4 / 5;
            height: 100%;

            & .wp-post-image {
                aspect-ratio: inherit;
                height: 100%;
            }
        }
    }

    &.aside {
        grid-template-rows: 1fr;
        & .post--body {
            & .post--body__header {
                padding-top: 0;

                & p {
                    font-size: clamp(2rem, 5vw, 2.5rem);
                    line-height: 1.4;
                    font-weight: 500;
                    color: light-dark(#0c0e10, #fff);
                    margin-top: 0;

                    &:not(:last-child) {
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }

    & .post--header {
        aspect-ratio: 4 / 3;
        position: relative;
        overflow: hidden;
        border-radius: .6rem;
        display: grid;
        place-content: end;
        padding: 1rem;
        background-color: light-dark(var(--wp--preset--color--secondary), #181c20);

        & .wp-post-image {
            width: 100%;
            aspect-ratio: 1 / 1;
            object-fit: cover;
            position: absolute;
            top: 50%; left: 50%; transform: translate(-50%, -50%);
            z-index: 0;
        }

        &:hover {
            & .glass-reflex {
                transform: skewX(340deg) translateX(70%);
                filter: blur(8px);
            }
        }

        & .tags {
            z-index: 2;
            display: inline-flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 3px;
        }
    }

    & .post--body {
        display: grid;
        grid-template-rows: 1fr auto;
        & .post--body__header {
            padding: 1rem 0;
            border-bottom: 1px dashed light-dark(var(--wp--preset--color--accent-6), var(--wp--preset--color--accent-6));

            & .post--permalink {
                transition: color .3s ease;

                & .post--title {
                    font-size: var(--wp--preset--font-size--large);
                    font-weight: 500;
                }

                &:hover {
                    color: var(--wp--preset--color--main);
                }
            }

            & > p {
                margin-top: .5rem;
                align-self: end;
                font-size: var(--wp--preset--font-size--small);
                opacity: .7;
            }
        }

        & .post--tags {
            padding-top: 1rem;
        }
    }

    &:hover {
        border-color: light-dark(var(--wp--preset--color--main-alpha-50), var(--wp--preset--color--main));
    }
}

.glass-backdrop {
    background-color: light-dark(var(--wp--preset--color--base-alpha-50), var(--wp--preset--color--contrast-alpha-50));
    backdrop-filter: blur(7px);
}

.glass-bright {
    position: relative;

    &::before,
    &::after {
        position: absolute;
        content: '';
        top: 0; left: 0; width: 100%; height: 100%;
        border: 1px solid light-dark(hsla(0, 0%, 100%, 0.849), hsla(0, 0%, 100%, 0.849));
        mask-image: linear-gradient(135deg, light-dark(hsla(0, 0%, 100%, 0.849), hsla(0, 0%, 100%, 0.849)), light-dark(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0)) 50%);
        mask-position: 0 0;
        transition: mask-position .5s ease;
        border-radius: inherit;
        corner-shape: inherit;
        z-index: 1;
    }

    &::after {
        mask-image: linear-gradient(135deg, light-dark(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0)) 76%, light-dark(hsla(0, 0%, 100%, 0.644), hsla(0, 0%, 100%, 0.644)));
    }
}

.glass-reflex {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    pointer-events: none;
    transform: skewX(340deg) translateX(-70%);
    transition: transform .6s ease-in-out, filter .5s ease-in-out;
    filter: blur(5px);
    z-index: 1;

    &:hover {
        transform: skewX(340deg) translateX(70%);
        filter: blur(8px);
    }
}

.tag-type {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: .438rem;
    height: 26px;
    border: 1px solid light-dark(var(--wp--preset--color--accent-6), var(--wp--preset--color--accent-6));
    transition: border-color .3s ease, box-shadow .3s ease;    
    padding: 0 .7rem;
    border-radius: 6px;

    &.glass-backdrop {
        border-width: 0;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px, rgba(0, 0, 0, 0.15) 0px 7px 13px -3px;
    }

    &.small-text {
        font-size: var(--wp--preset--font-size--small);

        & svg {
            width: 13px;
            height: 13px;
        }
    }

    &.type {
        & svg {
            width: 18px;
            height: 18px;
        }
    }

    &:hover {
        border-color: var(--wp--preset--color--main);
        box-shadow: 0 0 0 .2rem var(--wp--preset--color--main-alpha-50);
        z-index: 1;
    }

    &:active {
        transform: translateY(1px);
    }
}

body.is-chromium {
    & .post {
        border-radius: 2rem;
        corner-shape: squircle;

        & header.post--header {
            border-radius: 1rem;
            corner-shape: squircle;
        }

        & .post--body {
            & .post--tags {
                & .tag-type {
                    border-radius: 1rem;
                }
            }
        }
    }

    & .tag-type {
        border-radius: 1rem;
        corner-shape: squircle;
    }
}