.block {
    & .content {
        width: var(--max-width--content);
        margin-inline: auto;
    }
}

.post {
    display: grid;
    grid-template-rows: auto 1fr;
    padding: .625rem;
    border: 1px solid light-dark(var(--wp--preset--color--accent-7), var(--wp--preset--color--accent-6));
    border-radius: 1rem;
    font-size: var(--wp--preset--font-size--small);
    transition: border-color .3s ease;

    &.format-video {
        grid-template-rows: 1fr;

        & .post--body {
            grid-template-rows: 1fr auto;

            & .post--body__header {
                padding: .6rem;
                border: none;
                overflow: hidden;
                border-radius: .6rem;

                &:hover {
                    & .glass-reflex {
                        transform: skewX(340deg) translateX(70%);
                        filter: blur(8px);
                    }
                }

                & .wp-block-video {
                    aspect-ratio: inherit;
                    height: 100%;
                    margin: 0;

                    & video {
                        vertical-align: middle;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 2;
                        object-fit: cover;
                    }
                }

                & .tags {
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: .6rem;
                    z-index: 4;

                    & a {
                        border-radius: 4px;
                    }
                }
            }

            & .post--body__footer {
                padding-top: 12px;
                margin-top: 12px;
                border-top: 1px dashed var(--wp--preset--color--accent-6);

                & .post--tags {
                    padding-top: 0;
                    display: inline-flex;
                    flex-wrap: wrap;
                    gap: 2px;
                }
            }
        }
    }

    &.format-image {
        grid-template-rows: 1fr;

        & .post--body {
            grid-template-rows: 1fr auto;

            & .post--body__header {
                padding: .6rem;
                border: none;
                overflow: hidden;
                border-radius: .6rem;

                &:hover {
                    & .glass-reflex {
                        transform: skewX(340deg) translateX(70%);
                        filter: blur(8px);
                    }
                }

                & .wp-post-image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    top: 50%; left: 50%; transform: translate(-50%, -50%);
                    z-index: 0;
                }

                & .tags {
                    position: relative;
                    z-index: 2;

                    & a {
                        border-radius: 4px;
                    }
                }
            }

            & .post--body__content {
                padding-top: .6rem;

                & .date {
                    display: flex; 
                    align-items: center;
                    gap: 7px;
                    opacity: .5;

                    & p {
                        text-transform: capitalize;
                    }

                    & svg {
                        width: 13px;
                        height: 13px;
                    }
                }
            }

            & .post--body__footer {
                padding-top: 12px;
                margin-top: 12px;
                border-top: 1px dashed var(--wp--preset--color--accent-6);

                & .post--tags {
                    padding-top: 0;
                    display: inline-flex;
                    flex-wrap: wrap;
                    gap: 2px;
                }
            }
        }
    }

    &.format-aside {
        grid-template-rows: 1fr;

        & .post--body {
            grid-template-rows: 1fr auto;

            & .post--body__content {
                display: grid;
                grid-template-rows: 1fr auto;
                gap: .6rem;

                & .text {
                    p {
                        font-size: clamp(2rem, 5vw, 2.2rem) !important;
                        line-height: 1.4;
                        font-weight: 500;

                        &:not(:last-child) {
                            margin-bottom: 1rem;
                        }
                    }
                }

                & .date {
                    display: flex; 
                    align-items: center;
                    gap: 7px;
                    opacity: .5;
                    
                    & p {
                        text-transform: capitalize;
                    }

                    & svg {
                        width: 13px;
                        height: 13px;
                    }
                }
            }

            & .post--body__footer {
                padding-top: 12px;
                margin-top: 12px;
                border-top: 1px dashed var(--wp--preset--color--accent-6);

                & .post--tags {
                    padding-top: 0;
                    display: inline-flex;
                    flex-wrap: wrap;
                    gap: 2px;
                }
            }
        }
    }

    & .post--header {
        aspect-ratio: 4 / 3;
        position: relative;
        overflow: hidden;
        border-radius: .6rem;
        display: grid;
        place-content: end;
        padding: 1rem;
        background-color: light-dark(var(--wp--preset--color--secondary), #181c20);

        & .wp-post-image {
            width: 100%;
            aspect-ratio: 1 / 1;
            object-fit: cover;
            position: absolute;
            top: 50%; left: 50%; transform: translate(-50%, -50%);
            z-index: 0;
        }

        &:hover {
            & .glass-reflex {
                transform: skewX(340deg) translateX(70%);
                filter: blur(8px);
            }
        }

        & .tags {
            z-index: 2;
            display: inline-flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 3px;
        }
    }

    & .post--body {
        display: grid;
        grid-template-rows: 1fr auto;
        & .post--body__header {
            padding: 1rem 0;
            border-bottom: 1px dashed light-dark(var(--wp--preset--color--accent-6), var(--wp--preset--color--accent-6));

            & .post--permalink {
                transition: color .3s ease;

                & .post--title {
                    font-size: var(--wp--preset--font-size--large);
                    font-weight: 500;
                    display: inline;
                }

                &:hover {
                    color: var(--wp--preset--color--main);
                }

                &:focus-visible {
                    outline: none;
                    color: orangered;
                }
            }

            & > p {
                margin-top: .5rem;
                align-self: end;
                font-size: var(--wp--preset--font-size--small);
                opacity: .7;
            }
        }

        & .post--tags {
            padding-top: 1rem;
        }
    }

    &:hover {
        border-color: light-dark(var(--wp--preset--color--main-alpha-50), var(--wp--preset--color--main));
    }
}

.glass-backdrop {
    background-color: light-dark(var(--wp--preset--color--base-alpha-50), var(--wp--preset--color--contrast-alpha-50));
    backdrop-filter: blur(7px);
}

.glass-bright {
    position: relative;

    &::before,
    &::after {
        position: absolute;
        content: '';
        top: 0; left: 0; width: 100%; height: 100%;
        border: 1px solid light-dark(hsla(0, 0%, 100%, 0.849), hsla(0, 0%, 100%, 0.849));
        mask-image: linear-gradient(135deg, light-dark(hsla(0, 0%, 100%, 0.849), hsla(0, 0%, 100%, 0.849)), light-dark(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0)) 50%);
        mask-position: 0 0;
        transition: mask-position .5s ease;
        border-radius: inherit;
        corner-shape: inherit;
        z-index: 1;
    }

    &::after {
        mask-image: linear-gradient(135deg, light-dark(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0)) 76%, light-dark(hsla(0, 0%, 100%, 0.644), hsla(0, 0%, 100%, 0.644)));
    }
}

.glass-reflex {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    pointer-events: none;
    transform: skewX(340deg) translateX(-70%);
    transition: transform .6s ease-in-out, filter .5s ease-in-out;
    filter: blur(5px);
    z-index: 1;

    &:hover {
        transform: skewX(340deg) translateX(70%);
        filter: blur(8px);
    }
}

.tag-type {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: .438rem;
    height: 26px;
    border: 1px solid light-dark(var(--wp--preset--color--accent-6), var(--wp--preset--color--accent-6));
    transition: border-color .3s ease, box-shadow .3s ease;    
    padding: 0 .7rem;
    border-radius: 6px;

    &.glass-backdrop {
        border-width: 0;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px, rgba(0, 0, 0, 0.15) 0px 7px 13px -3px;
    }

    &.small-text {
        font-size: var(--wp--preset--font-size--small);

        &.post-format-label {
            & svg {
                width: 16px;
                height: 16px;
            }
        }

        & svg {
            width: 13px;
            height: 13px;
        }
    }

    &.type {
        & svg {
            width: 18px;
            height: 18px;
        }
    }

    &:hover {
        border-color: var(--wp--preset--color--main);
        box-shadow: 0 0 0 .2rem var(--wp--preset--color--main-alpha-25);
        z-index: 1;
    }

    &:focus-visible {
        border-color: orangered;
        box-shadow: 0 0 0 .2rem #ff44007e;
        z-index: 1;
        outline: none;
    }

    &:active {
        transform: translateY(1px);
    }
}

ul {
    & li {
        & a {
            transition: color .3s ease;

            &:hover {
                color: var(--wp--preset--color--main);
            }

            &:focus-visible {
                outline: none;
                color: orangered;
            }
        }
    }
}

.social {
    & .menu {
        display: flex;
        align-items: center;
        gap: 2rem;

        & li {
            & a {
                position: relative;
                display: grid;
                font-size: 0;

                &::before {
                    position: relative;
                    content: '';
                    display: block;
                    width: 1rem;
                    height: 1rem;
                    transition: background-color .3s ease-in-out;
                    background-color: currentColor;
                }

                &:hover {
                    &::before {
                        background-color: var(--wp--preset--color--main);
                    }
                }

                &:focus-visible {
                    outline: none;

                    &::before {
                        background-color: orangered;
                    }
                }
            }
        }                     
    }
}

.btn-pagination {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: grid;
    place-content: center;
    width: 64px;
    height: 64px;
    border: none;
    border-radius: 1rem;
    position: relative;
    transition: background-color .3s ease;
    background-color: transparent;

    &.small-pagination {
        width: 46px;
        height: 46px;
        border-radius: .5rem;

        & svg {
            width: 24px;
            height: 24px;
        }
    }

    &:hover {
        cursor: pointer;
        background-color: var(--main--lighter-plus);
    }

    & svg {
        transition: fill .3s ease;
        fill: light-dark(var(--wp--preset--color--contrast), var(--wp--preset--color--base));
    }

    &.glass-backdrop {
        background-color: transparent !important;

        & svg {
            fill: var(--wp--preset--color--base);
        }

        &:hover {
            background-color: light-dark(var(--wp--preset--color--base-alpha), var(--base-alpha-dark)) !important;

            & svg {
                fill: light-dark(var(--wp--preset--color--contrast), var(--contrast-dark));
            }
        }
    }

    &:focus-visible {
        outline: none;
        background-color: orangered;

        & svg {
            fill: var(--wp--preset--color--base);
        }
    }

    &:active {
        transform: translateY(.5px);
    }
}

@media (width < 600px) {
    .post {
        &.video,
        &.format-image {
            & .post--body {
                & header.post--body__header {
                    aspect-ratio: 4 / 5;
                }
            }
        }
    }
}

@media (width >= 600px) {
    .post {
        &:is(.format-image,.format-video) {
            & .post--body {
                & header.post--body__header {
                    min-height: 350px;

                    & .tags {
                        & a {
                            border-radius: .5rem;
                            corner-shape: squircle;
                        }
                    }
                }
            }
        }
    }
}

body.is-chromium {
    & .post {
        border-radius: 2rem;
        corner-shape: squircle;

        & header.post--header {
            border-radius: 1rem;
            corner-shape: squircle;
        }

        & .post--body {
            & .post--tags {
                & .tag-type {
                    border-radius: 1rem;
                }
            }
        }
    }

    & .tag-type {
        border-radius: 1rem;
        corner-shape: squircle;
    }

    & .btn-pagination {
        border-radius: 2rem;
        corner-shape: squircle;

        &.small-pagination {
            border-radius: 1rem;
        }
    }
}