.site-main {
    & .block {
        & .content:has(aside) {
            display: grid;
            gap: 1rem;

            & .sidebar {
                &>*:not(:last-child, .wp-block-heading) {
                    margin-bottom: 3rem;
                }

                & form[role=search] {
                    padding-left: 1rem;
                }

                & .wp-block-heading,
                & .wp-block-tag-cloud {
                    padding-left: 1rem;
                }

                & :is(ul, ol) {
                    padding-left: 0;
                    list-style: none;

                    &.wp-block-latest-comments {
                        margin-block-start: 1.2rem;
                    }

                    & li {
                        transition: opacity .3s ease .3s;

                        & a:has(svg) {
                            display: flex;
                            align-items: center;
                            gap: .5rem;
                            height: 41.33px;
                            padding: 0 1rem;
                            border-radius: 0.375rem;
                            transition: background-color .3s ease;

                            &:hover {
                                background-color: light-dark(var(--wp--preset--color--secondary), var(--contrast--darker));
                            }
                        }

                        & .latest-post__body {
                            display: grid;
                            grid-template-columns: auto 1fr;
                            grid-template-rows: 1fr auto;
                            gap: 0 .5rem;
                            padding: 1rem;
                            border-radius: 1rem;
                            transition: background-color .3s ease;

                            & .latest-post-thumbnail-wrapper {
                                grid-column: 1 / 2;
                                grid-row: 1 / 3;

                                & .wp-post-image {
                                    width: 70px;
                                    height: 70px;
                                    border-radius: .5rem;
                                }
                            }

                            & .wp-block-latest-posts__post-title {
                                align-self: end;
                                font-weight: 500;
                            }

                            & .latest-post-date {
                                font-size: var(--wp--preset--font-size--small);
                            }

                            &:hover {
                                background-color: light-dark(var(--wp--preset--color--secondary), var(--contrast--darker));
                            }
                        }
                    }

                    &:hover {
                        &>li:not(:hover) {
                            opacity: .25;
                        }
                    }
                }
            }
        }
    }
}

@media (width >=1024px) {
    .site-main {
        & .block {
            & .content:has(aside) {
                grid-template-columns: 1fr auto;

                & .sidebar {
                    max-width: 370px;
                }
            }
        }
    }
}

body.is-chromium {
    .site-main {
        & .block {
            & .content:has(aside) {
                & .sidebar {
                    & ul {
                        & li {
                            & a:has(svg) {
                                border-radius: 1rem;
                                corner-shape: squircle;
                            }

                            & .latest-post__body {
                                border-radius: 2rem;
                                corner-shape: squircle;

                                & .latest-post-thumbnail-wrapper {
                                    & .wp-post-image {
                                        border-radius: 1rem;
                                        corner-shape: squircle;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}