header.block {
    & .content {
        .metadata {
            display: inline-flex; 
            flex-wrap: wrap;

            & > div:not(:last-child) {
                position: relative;

                &:after {
                    content: '●';
                    margin: 0 .5rem;
                    opacity: .4;
                }
            }

            & .comments {
                & span {
                    display: inline-flex;
                    width: .438rem;
                }
            }
        }
    }
}

.block {
    & .is-layout-constrained {
        & .wp-block-image.alignwide.size-large {
            max-width: 1024px;
        }

        & .wp-block-image {
            img {
                border-radius: 1rem;
            }
        }
    }

    & .content.date.categories.tags {
        width: min(100% - 2.5rem, 40.313rem) !important;

        & .date {
            display: inline-flex;
            align-items: center;
            gap: 7px;
            font-size: var(--wp--preset--font-size--small);

            & svg {
                width: 1em;
                height: 1em;
            }
        }
    }

    & .categories {
        width: min(100% - 2.5rem, 40.313rem);
    }

    & .content-tags {
        width: min(100% - 2.5rem, 40.313rem) !important;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: .438rem;
    }

    & .content-author {
        width: min(100% - 2.5rem, 40.313rem) !important;
        padding: 1.25rem;
        border: 0.063rem solid var(--wp--preset--color--accent-6);
        border-radius: 1rem;

        & .author-name {
            margin-bottom: 1rem;
        }

        & .avatar {
            position: relative;
            top: 0.313rem;
            float: left;
            shape-outside: margin-box;
            border-radius: .5rem;
            corner-shape: inherit;
            margin: 0 1.25rem 0 0;
        }

        & .author-description {
            font-size: var(--wp--preset--font-size--small);
        }
    }

    & .post-navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2.5rem;

        & :is(.left,.right) {
            & a {
                & .pagination-indicator {
                    display: inline-flex;
                    align-items: center;
                    gap: 7px;
                    transition: color .3s ease;
                }

                &:hover {
                    & .pagination-indicator {
                        color: var(--wp--preset--color--main);
                    }
                }
            }
        }

        & .right {
            text-align: right;
        }
    }

    &.container--related-posts {
        background-color: light-dark(var(--wp--preset--color--secondary), var(--contrast--darker));
        display: grid;
        gap: 2rem;
        padding: 3rem 0;

        & .content.related-posts--title {
            text-align: center;
        }
    }

    & .content-comments {
        width: min(100% - 2.5rem, 40.313rem) !important;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
}

.block.image-metadata {
    padding: 2.5rem 0;
    display: grid;
    gap: 2rem;
}

@media (width < 31.25rem) {
    header.block {
        & .content {
            & .metadata {
                display: grid;

                & > div:not(:last-child) {
                position: relative;

                &:after {
                    content: '';
                    margin: 0;
                    opacity: .4;
                }
            }
            }
        }
    }
}

@media (width < 42.813rem) {
    & .site-main {
        .block {
            & .is-layout-constrained {
                > *:not(.wp-block-separator) {
                    margin-left: 1.25rem !important;
                    margin-right: 1.25rem !important;
                }
            }
        }
    }
}

body.is-chromium {
    .site-main {
        .block {
            & .is-layout-constrained {
                & .wp-block-image.alignwide.size-large {
                    max-width: 1024px;
                }

                & .wp-block-image {
                    img {
                        border-radius: 2rem;
                        corner-shape: squircle;
                    }
                }
            }
        }
    }
}

:root :where(.wp-block-separator) {
    color: light-dark(var(--wp--preset--color--accent-7), var(--wp--preset--color--accent-7));
}