:root {
    color-scheme: light dark;

    /* sizes */
    --heigh-wp-adminbar: 2.875rem;
    --max-width--content: min(100% - 2.5rem, 85.375rem);

    /* colors */
    --main--lighter: oklch(from var(--wp--preset--color--main) calc(l + .2) c h);
}



@media (width >= 783px) {
    :root {
            /* sizes */
        --heigh-wp-adminbar: 2rem;
    }
}