:root {
    color-scheme: light dark;

    /* sizes */
    --heigh-wp-adminbar: 2.875rem;
    --max-width--content: min(100% - 2.5rem, 1096px);

    /* colors */
    --base-dark: oklch(from var(--wp--preset--color--base) .1 c h);
    --secondary-dark: oklch(from var(--wp--preset--color--secondary) .25 c h);

    --main-dark: oklch(from var(--wp--preset--color--main) .2 c h);
    --main-darker: oklch(from var(--wp--preset--color--main) .15 c h);
    --main-light: oklch(from var(--wp--preset--color--main) calc(l + 0.1) calc(c - 0.075) calc(h + 0.1));
    --main-lighter: oklch(from var(--main-light) calc(l + 0.08) calc(c + 0.02) calc(h + 0.02));

    --secondary-darker: oklch(from var(--wp--preset--color--secondary) .15 c h);

    --hover-gallery-button: oklch(from var(--wp--preset--color--main) calc(l + 0.4) calc(c - 0.1) calc(h + 0.1));
    --dark-hover-gallery-button: oklch(from var(--hover-gallery-button) .35 c h);

    --gallery-bullet: oklch(from var(--wp--preset--color--main) calc(l + 0.3) calc(c - 0.075) calc(h + 0.1));
    --dark-gallery-bullet: oklch(from var(--hover-gallery-button) .35 c h);

    --background-sky-2: #1e90ff;
    --background-sky-1: #87CEEB;
    --background-sky-1--night: #12171c;
    --background-sky-2--night: #000000;

    /* lines */
    --line-1: #abb8c3;
    --line-2: #DBE1F3;

    /* shadows */
    --modern-text-shadow: 0px 2px 3px rgba(0,0,0,0.4), 0px 4px 13px rgba(0,0,0,0.1), 0px 9px 23px rgba(0,0,0,0.1);
    --input-shadow: 0 0 0 .2rem var(--wp--preset--color--main-alpha-25);

    /* opacity */
    --opacity-clouds: 1;
    --opacity-stars: 0;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* opacity */
        --opacity-clouds: .15;
        --opacity-stars: 1;
    }
}

@media (width >= 783px) {
    :root {
            /* sizes */
        --heigh-wp-adminbar: 2rem;
    }
}